<div class="col-md-12 footer">
  <div class="innerDiv">
    <div class="eltdf-column-content eltdf-grid-col-3">
      <div id="text-4" class="widget eltdf-footer-column-1 widget_text">
        <h4 class="eltdf-widget-title">About</h4>
        <div class="textwidget">
          <p>Lorem ipsum dolor sit ametium, consectetur adipiscing elit. Phasellus vehicula sagittis.</p>
        </div>
      </div>
      <a class="eltdf-icon-widget-holder eltdf-icon-has-hover" href="tel:+443003030266" target="_self">
        <span class="material-icons">phone_callback</span>
        <span class="eltdf-icon-text">+44 300 303 0266</span> </a>
      <div style="margin:10px !important;"></div>
      <a class="eltdf-icon-widget-holder eltdf-icon-has-hover" href="http://schoolroom.elated-themes.com/about-us/"
        target="_self" style="color: rgb(255, 255, 255);">
        <span class="material-icons">access_time</span>
        <span class="eltdf-icon-text ">Mon - Sat 8.00 - 18.00</span> </a>
    </div>
    <div class="eltdf-column-content eltdf-grid-col-3">
      <div id="text-4" class="widget eltdf-footer-column-1 widget_text">
        <h4 class="eltdf-widget-title">Popular Courses</h4>
      </div>
      <div class="eltdf-cli-text-inner">
        <h6 itemprop="name" class="eltdf-cli-title entry-title">
          <a itemprop="url">
            Academic English </a>
        </h6>
        <div class="eltdf-cli-top-info">
          <a itemprop="url">
            <span class="eltdf-instructor-name">
              Jacke Masito </span>
          </a>
        </div>
      </div>
      <div class="eltdf-cli-text-inner">
        <h6 itemprop="name" class="eltdf-cli-title entry-title">
          <a itemprop="url">
            PC Systems </a>
        </h6>
        <div class="eltdf-cli-top-info">
          <a itemprop="url">
            <span class="eltdf-instructor-name">
              Judith Stevens</span>
          </a>
        </div>
      </div>
      <div class="eltdf-cli-text-inner">
        <h6 itemprop="name" class="eltdf-cli-title entry-title">
          <a itemprop="url">
            Web Technologies </a>
        </h6>
        <div class="eltdf-cli-top-info">
          <a itemprop="url">
            <span class="eltdf-instructor-name">
              Jacke Masito </span>
          </a>
        </div>
      </div>

    </div>
    <div class="eltdf-column-content eltdf-grid-col-3">
      <div id="text-4" class="widget eltdf-footer-column-1 widget_text">
        <h4 class="eltdf-widget-title">Support</h4>
      </div>
      <div class="menu-footer-container">
        <ul id="menu-footer" class="menu">
        <li id="menu-item-3950" class="menu-item"><a href="">Documentation</a></li>
        <li id="menu-item-3949" class="menu-item"><a href="">Forums</a></li>
        <li id="menu-item-33" class="menu-item"><a href="">Available Courses</a></li>
        <li id="menu-item-3947" class="menu-item"><a href="">Become An Instructor</a></li>
        <li id="menu-item-34" class="menu-item"><a href="">Events</a></li>
        </ul>
      </div>
    </div> 
    <div class="eltdf-column-content eltdf-grid-col-3">
      <div id="text-4" class="widget eltdf-footer-column-1 widget_text">
        <h4 class="eltdf-widget-title">Flexible Learning</h4>
      </div>
      <div>
        <img src="../../../assets/images/footer-map-img-1-300x175.png">
      </div>

    </div>
  </div>

</div>