<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/h1-background.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <!-- <div class="overlay">World</div> -->
     <div class="static">I am Minfdul</div>
   <div class="smallText"> An initiative towards creating an sustainable inclusive learning environment </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/h1-background-2.jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <!-- <div class="overlay">World</div> -->
     <div class="static">I am Minfdul</div>
   <div class="smallText"> An initiative towards creating an sustainable inclusive learning environment </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/images/h1-background-3.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <!-- <div class="overlay">World</div> -->
     <div class="static">I am Minfdul</div>
   <div class="smallText"> An initiative towards creating an sustainable inclusive learning environment </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<!-- <div class="">
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
</div> -->


<div class="col-md-12 col-sm-12">
  <div class="servicesInfo">
    <!-- <span class="carouselBackText">Learn</span> -->
    <!-- <span class="successText">Guaranteed Success</span> -->
    
    <h2 class="serviceText">About us</h2>
    
  </div>
  <!-- <div class="empty-space" style="height: 93px;"></div> -->
  <div class="col-md-12 row align-items-center" >
   
    <p style="text-align: center;font-size: 20px;font-weight: 400;">I am mindful focuses to sensitize inclusive learning to every stakeholder in and around the education ecosystem, by offering our services we work to enhance the potential of those who choose to contribute.</p>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="servicesInfo">
    <!-- <span class="carouselBackText">Learn</span> -->
    <span class="successText">Guaranteed Success</span>
    
    <h2 class="serviceText">Our Services</h2>

  </div>
  <div class="col-md-12 row align-items-center" >
    <div class="col col-md-3">
      <img src="../../../assets/images/h1-custom-icon-7.png" class="serviceImg">
      <a>
        <p class="col3Text">Service1</p>
        <p style="text-align: center;">Lorem ipsum dolor sit ametcon, sectetur adipiscing elit. Phasellus vehic sagittis
          euismod.</p>
      </a>
    </div>
    <div class="col col-md-3">
      <img src="../../../assets/images/h1-custom-icon-8.png" class="serviceImg">
      <p class="col3Text">Service2</p>
      <p style="text-align: center;">Lorem ipsum dolor sit ametcon, sectetur adipiscing elit. Phasellus vehic sagittis
        euismod.</p>
    </div>
    <div class="col col-md-3">
      <img src="../../../assets/images/h1-custom-icon-9.png" class="serviceImg">
      <a>
        <p class="col3Text">Service3</p>
        <p style="text-align: center;">Lorem ipsum dolor sit ametcon, sectetur adipiscing elit. Phasellus vehic sagittis
          euismod.</p>
      </a>
    </div>
  </div>
</div>
<!-- <div class="empty-space" style="height: 93px;"></div> -->
<!-- <div class="col-md-12">
  <nav>
    <ul>
      <li tabindex="0" >
        <b class="ListHeading">What We Do</b>
       
        <div>
          <p class="textAbove">Our Differnce</p>
          <h2 class="textMiddle">What We Do</h2>
          <p class="textBelow">Proin ac lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae, mollis nec ante.</p>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipsum dolor sit amet consectetur adipiscing</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Nulla ante eros, venenatis vel malesuada sit amet</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipscras maximus turpis eget erat</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Vestibulum vitae libero neque</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </li>
      <li tabindex="0">
        <b class="ListHeading">Education Center</b>
       
        <div>
          <p class="textAbove">Our Differnce</p>
          <h2 class="textMiddle">Education Center</h2>
          <p class="textBelow">Proin ac lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae, mollis nec ante.</p>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipsum dolor sit amet consectetur adipiscing</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Nulla ante eros, venenatis vel malesuada sit amet</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipscras maximus turpis eget erat</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Vestibulum vitae libero neque</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </li>
      <li tabindex="0">
        <b class="ListHeading">We're Already There</b>
       
        <div>
          <p class="textAbove">Our Differnce</p>
          <h2 class="textMiddle">We're Already There</h2>
          <p class="textBelow">Proin ac lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae, mollis nec ante.</p>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipsum dolor sit amet consectetur adipiscing</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Nulla ante eros, venenatis vel malesuada sit amet</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipscras maximus turpis eget erat</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Vestibulum vitae libero neque</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </li>
      <li tabindex="0">
        <b class="ListHeading">Your Financial Bridge</b>
      
        <div>
          <p class="textAbove">Our Differnce</p>
          <h2 class="textMiddle">Your Financial Bridge</h2>
          <p class="textBelow">Proin ac lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae, mollis nec ante.</p>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipsum dolor sit amet consectetur adipiscing</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Nulla ante eros, venenatis vel malesuada sit amet</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipscras maximus turpis eget erat</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Vestibulum vitae libero neque</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </li>
      <li tabindex="0">
        <b class="ListHeading">World Class Experts</b>
       
        <div>
          <p class="textAbove">Our Differnce</p>
          <h2 class="textMiddle">World Class Experts</h2>
          <p class="textBelow">Proin ac lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae, mollis nec ante.</p>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipsum dolor sit amet consectetur adipiscing</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Nulla ante eros, venenatis vel malesuada sit amet</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipscras maximus turpis eget erat</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Vestibulum vitae libero neque</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </li>
    </ul>  
    <div>
      <p class="textAbove">Our Differnce</p>
      <h2 class="textMiddle">What We Do</h2>
      <p class="textBelow">Proin ac lobortis arcu, a vestibulum augue. Vivamus ipsum neque, facilisis vel mollis vitae, mollis nec ante.</p>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipsum dolor sit amet consectetur adipiscing</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Nulla ante eros, venenatis vel malesuada sit amet</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Lorem ipscras maximus turpis eget erat</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
          <div>
            <span class="material-icons checkIcon">done</span>
            <p class="textinList"> Vestibulum vitae libero neque</p>
          </div>
          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
    </div>
  </nav>
</div> -->
<!-- <a [routerLink]="['/contact-us']">got to contact page</a>
<a [routerLink]="['/services']">got to contact page</a> -->
