
<div class="col-md-12">
<!--Accordion wrapper-->
<div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
  <div class="card">
    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
      <h5 class="text-uppercase mb-0 py-1">
        <a class="white-text font-weight-bold" data-toggle="collapse" href="javascript:void(0);" aria-expanded="true"
          aria-controls="collapse96" (click)="open('collapse96')">
          Learning Disability, Identification and Remediation
        </a>
      </h5>
    </div>
    <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96"
      data-parent="#accordionEx23">
      <div class="card-body">
        <div class="row my-4">
          <div class="col-md-8">
            <p class="">Children with learning disabilities may have difficulty in reading, writing, spelling and reasoning, 
              it cannot be solved if we continue to teach through traditional teaching methods. 
              For teaching such children, specially trained teachers are required. 
              However, the number of trained teachers in this area are very less. 
              Hence, I Am Mindful aims to produce specially trained teachers and resources through our Certificate 
              course  in Learning Disability.</p>
            <p class="mb-0">For Teachers already in schools this course will help them identify the children during the 
              early stages, provide inclusive learning and remediation or redirect them to the right resources to 
              address them.</p>
          </div>
          <div class="col-md-4 mt-3 pt-2">
            <div class="view z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
      <h5 class="text-uppercase mb-0 py-1">
        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="javascript:void(0);"
          aria-expanded="false" aria-controls="collapse97" (click)="open('collapse97')" >
          Teacher/ Staff Orientation
        </a>
      </h5>
    </div>
    <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97"
      data-parent="#accordionEx23">
      <div class="card-body">
        <div class="row my-4">
          <div class="col-md-8">
            <!-- <h2 class="font-weight-bold mb-3 black-text">Hi! I am the second one.</h2> -->
            <p class="">Orientation is an opportunity created for the teachers and staff to ask questions 
              that will help the institution perform better, Management define roles, 
              assess skill level and experience, set expectations, and anticipate head off problems for 
              the academic year through us,  Orientation include introducing new hires to their jobs, 
              co-workers, responsibilities, and workplace. It allows staff the chance to feel comfortable 
              within their new teams, departments, and roles within the system. 
              I Am Mindful with effective staff orientation programme answers questions that are pertaining 
              to current Education system, makes them aware of current policies and procedures, ideates, 
              becomes a medium to the management of the Educational institution and the staff, eases them 
              comfortably into their roles.</p>
            <!-- <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur.</p> -->
          </div>
          <div class="col-md-4 mt-3 pt-2">
            <div class="view z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
      <h5 class="text-uppercase mb-0 py-1">
        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="javascript:void(0);"
          aria-expanded="false" aria-controls="collapse98" (click)="open('collapse98')">
          Teacher/ staff Training
        </a>
      </h5>
    </div>
    <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98"
      data-parent="#accordionEx23">
      <div class="card-body">
        <div class="row my-4">
          <div class="col-md-8">
            <!-- <h2 class="font-weight-bold mb-3 black-text">Hi! I am the third one.</h2> -->
            <p class="">I Am Mindful Teacher/ staff training is designed to equip prospective teachers with the 
              knowledge, attitudes, behaviours and skills they require to perform their tasks effectively 
              in the classrooms, schools and wider community</p>
            <p class="mb-0">I Am Mindful is a leading teachers training company that provides specially designed 
              courses in the field of teacher training. I Am Mindful offers a wide range of courses, 
              which equips aspiring teachers with all the necessary guidance, skills and methodologies 
              required to be an efficient educator. Its focus is to contribute considerably in the teachers' 
              training arena to produce quality teachers in the related segments, who will create an effective 
              and friendly classroom environment to facilitate learning and shape young minds. 
              I am Mindful stands to promote certified teaching professionals through its assorted teachers 
              training programs.</p>
              <br>
              <p class="">I Am Mindful began with a major focus on training teachers not only to prepare
                 but also to empower exceptional educators in the area of teaching and linking theoretical 
                 knowledge and practical skills. 
                 In addition, I Am Mindful also holds and participates in teacher training workshops in
                  various schools, which are an outcome of alliance with several educational institutes 
                  and schools. The major point of these workshops is to inculcate the aspirants with 
                  innovative techniques and new age teaching skills into the teachers' minds, 
                  and is tailor made to fit the various needs of the different schools.</p>
          </div>
          <div class="col-md-4 mt-3 pt-2">
            <div class="view z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading99">
      <h5 class="text-uppercase mb-0 py-1">
        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="javascript:void(0);"
          aria-expanded="false" aria-controls="collapse99" (click)="open('collapse99')">
          Parent & Staff Coaching
        </a>
      </h5>
    </div>
    <div id="collapse99" class="collapse" role="tabpanel" aria-labelledby="heading99"
      data-parent="#accordionEx23">
      <div class="card-body">
        <div class="row my-4">
          <div class="col-md-8">
            <!-- <h2 class="font-weight-bold mb-3 black-text">Hi! I am the third one.</h2> -->
            <p class="">Coaching means partnering with clients in a thought-provoking and creative process that inspires them to maximize their personal and professional potential.</p>
            <p class="mb-0">Every institution is looking for ways to keep their talent motivated and committed to management goals. When staff start show signs of reduced productivity, management start to worry that they are losing their talent’s focus, and desire to still work there. Even worse is the idea that once committed team members are no longer contributing,  once benefited the institution with, and it’s starting to impact results.</p>
              <br>
              <p class="">I Am Mindful is looking for a way to bring these staffs back to highly motivated performers, through their coaching programme</p>
          </div>
          <div class="col-md-4 mt-3 pt-2">
            <div class="view z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading90">
      <h5 class="text-uppercase mb-0 py-1">
        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="javascript:void(0);"
          aria-expanded="false" aria-controls="collapse90" (click)="open('collapse90')">
          Parent & Staff Counselling
        </a>
      </h5>
    </div>
    <div id="collapse90" class="collapse" role="tabpanel" aria-labelledby="heading90"
      data-parent="#accordionEx23">
      <div class="card-body">
        <div class="row my-4">
          <div class="col-md-8">
            <!-- <h2 class="font-weight-bold mb-3 black-text">Hi! I am the third one.</h2> -->
            <p class="">In our fast-paced, stressful world, it is not unusual for an institution to have some staffs struggling with workplace-related stress or personal issues. These problems can affect an staff work performance through lowered productivity levels.</p>
            <p class="mb-0">How can institution help their staff maintain their health and well-being? One effective solution is to offer an staff assistance program that includes workplace counselling.</p>
              
          </div>
          <div class="col-md-4 mt-3 pt-2">
            <div class="view z-depth-1">
              <img src="https://mdbootstrap.com/img/Photos/Others/nature.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--Accordion wrapper-->
</div>
